#article
  if article
    li= article.title
      p='Announce: ' + article.announce
      p='Full text: ' + article.fullText
      ul='Categories:'
        each category in article.category
          li= category
      p='Created date: ' + article.createdDate
      ul='Comments: '
        each comment in article.comments
          li= comment.text
  else
    p= 'Article not found'
